@import '../../../public/colors/colors.scss';

#freelancer-profile-body {
  background-color: $primary-color;
}

#profile-settings-btn {
  background-color: $tertiary-color;
  color: white;
  font-weight: bold;
  padding: 5px 15px;
  border-radius: 5px;
  &:hover {
    background-color: darken($color: $tertiary-color, $amount: 5%);
  }
}

.portfolio-item {
  color: darken($color: $tertiary-color, $amount: 5%);
}

#profile-img-div {
  border-radius: 50%;
  height: 60px;
  width: 60px;
  background-color: black;
  // position: absolute;
  padding: 0;
}

#edit-profile-img {
  position: absolute;
  top: 0;
  left: .2em;
}